@model UserRoleModel

<div id="sidebar-menu">
    <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" data-key="t-menu">منو</li>

        <li>
            <a href="../">
                <i data-feather="home"></i>
                <span data-key="t-dashboard">داشبورد</span>
            </a>
        </li>

        <li>
            <a href="javascript: void(0);" class="has-arrow">
                <i data-feather="grid"></i>
                <span data-key="t-apps">کاربران</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li>
                    @if (Model.Roles != null &&
                    (Model.Roles.Contains("Administrator") || Model.Roles.Contains("Admin")))
                    {
                        <a href="/Users">
                            <span data-key="t-calendar">لیست کاربران</span>
                        </a>
                    }
                </li>
            </ul>
        </li>

    </ul>

</div>